
Notebooks/.ipynb_checkpoints/data18_citibike-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/age_quartiles-checkpoint.ipynb
Notebooks/.ipynb_checkpoints/data17_citibike-checkpoint.ipynb
Notebooks/2017/201701.csv
Notebooks/2017/201705.csv
Notebooks/2017/201704.csv
Notebooks/2017/201703.csv
Notebooks/2017/201702.csv
Notebooks/2017/201706.csv
Notebooks/2017/201707.csv
.ipynb_checkpoints/Notebooks-checkpoint.ipynb
Notebooks/2018/w_station2018.csv
Notebooks/2018/stationsny.xlsx
Notebooks/2018/w_agedur2018.csv
Notebooks/2018/station18.csv
